/* 
	STYLE.CSS:
	One stylesheet to rule them all.
	
	selector { property:value }

*/

@import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans|Quattrocento);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
/* Styles for body section */
body {
	background-color: white;  /* set the background color white */
    color:rgb(77, 77, 77) ; /* set the background color grey */
    margin: 0;
}

/* Styles for header section */
header {
	height: 120px;
    font-family: Lato, Arial, sans-serif;
    font-size: larger;
	background-color: #F4F4F4;
    text-align: center;
    color: rgb(77, 77, 77);
    padding: 10px; /* set the padding to 10px */
}
/* To have padding on top and minimum height for content container */
#content {
	padding-top: 60px;
	min-height: 230px;
}
/* Styles for footer section of page */
footer {
    text-align: center;
    height: 60px;
    font-family: Lato, Arial, sans-serif;
    color: rgb(77, 77, 77);
	background-color: rgb(244, 244, 244); /* set the background color white */
    margin-top: 26px;
    padding: 10px;
}

.container {
    margin: auto;
    max-width: 662px;
    padding: 0 20px; }
/* Paragraph fonts and styles */
p {
    font-family: Arial, sans-serif; /* set the font family to Arial, sans-serif */
}
/* Anchor tag style */
a {
   color:rgb(112, 89, 243);  /* set the text color purple */
}

a:hover {
    color: rgb(255, 0, 13);
  }